// Joseph Abio Nartey
color: #118CD9;
 font-size: 14px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Joseph Abio Nartey Jnr,<br/>Entry level UI/UX designer,<br/>Entry level Cyber Security<br/> 
color: #002A44;
 font-size: 44px;
 font-family: Poppins;
 font-weight: 300;
 word-wrap: break-word
---
// Hi, my name is Joseph Abio Nartey  and I'm a freelancer . I have a few years  of experience in the design industry. I'm specialized in UI/UX designs . You can check out my work below
color: #667883;
 font-size: 16px;
 font-family: Lato;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Scroll down
color: #667883;
 font-size: 14px;
 font-family: Poppins;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word